<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adobe.poc.smsexample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>SMSExample</name>
	
    <description>
        A SMS Example
    </description>
	
    <author email="malkin@adobe.com" href="http://cordova.io">
        A Malkin
    </author>
	
    <content src="index.html" />
	
    <access origin="*" />

    <!-- Phonegap Build Plugins -->
    <gap:plugin name="com.jsmobile.plugins.sms" version="0.0.1" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.11"/>

    <!-- Platforms -->
    <gap:platform name="ios" />
    <gap:platform name="android" />
	
</widget>
